@font-face {
    font-family: Anta;
    src: url(./Fonts/Anta-Regular.ttf);
}
body{
    font-family: Anta;
    text-align: center;
}
.HomeBody{
    overflow-x: hidden;
}
.HomeTxt{
    font-size: 8.59444vh;
}
.HomeNav{
    width: 100vw;
}
.navBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Anta;
    margin-top: 3.1333vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 34.0856vw;
    text-decoration: none;
    cursor: pointer;
}
.navBtn button{
    border-radius:4vh;
    width: 34.0856vw;
    height: 9.4897vh;
    font-family: Anta;
    text-decoration: none;
    font-size: 5.7296vh;
    border: none;
    background-color: #C3C3C3;
    cursor: pointer;
    text-align: left;
    padding-left: 2.1412vw;
    padding-right: 2.1412vw;
}
.navBtn button .arrow{
    text-align: right;
    float: right;
}